<div class="content-container full-height">
    <div class="container flex-fill d-flex flex-row justify-content-center my-5">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

}