@page "/"
@using Game
@inject NavigationManager navManager
@inject GameSessionState state

<EditForm Model="_model" class="full-heigth" OnValidSubmit="StartAGame">

  <Header>
    <h1>Welcome to BlazQ <br>
      <small> # The new quiz in town</small>
    </h1>
  </Header>

  <ContentPage>
    <Card>
      <Header>
        Create your profile
      </Header>

      <Body>
        <DataAnnotationsValidator />
        <div class="form-group">
          <label for="name">You Playername</label>
          <InputText @bind-Value="_model.Name" class="form-control" id="name" />
          <ValidationMessage For="@(() => _model.Name)" />
        </div>
        <div class="form-group">
          <label for="avatar">Choose your Avatar</label>
          <InputSelect @bind-Value="_model.AvatarUrl" class="form-control" id="Example">
            @foreach (AvatarViewModel avatar in _possibleAvatars)
                          {
                        <option value="@avatar.Url">@avatar.Name</option>
            }
                    </InputSelect>
                  </div>
                </Body>
              </Card>
            </ContentPage>

            <Footer Player="_model">
              <button type="submit" class="btn btn-turquois">Start Game</button>
            </Footer>
          </EditForm>
          @code {
  private PlayerViewModel _model = new PlayerViewModel();

  private List<AvatarViewModel> _possibleAvatars = new List<AvatarViewModel>
{
new AvatarViewModel { Name = "Herb", Url = "/avatars/herb.jpg" },
new AvatarViewModel { Name = "Fox with a hat", Url = "/avatars/fox-with-hat.jpg" },
new AvatarViewModel { Name = "Cookies", Url = "/avatars/cookie.jpg" },
new AvatarViewModel { Name = "Flower", Url = "/avatars/flower.jpg" },
new AvatarViewModel { Name = "Grumpy Cat", Url = "/avatars/grumpy-cat.jpg" },
new AvatarViewModel { Name = "Mushroom", Url = "/avatars/mushroom.jpg" },
new AvatarViewModel { Name = "Craw", Url = "/avatars/craw.jpg" },
};

  private void StartAGame()
  {
    GameSession session = new GameSession(_model);

    state.Session = session;
    navManager.NavigateTo("/Game");
  }

}
