<div class="upper-footer">
</div>
<div class="footer background-dark-purple">
    <div class="d-flex flex-row justify-content-center ">
        @ChildContent
    </div>
    @if (Players != null)
    {
        <ul class="list-unstyled d-flex flex-row justify-content-around">

            @{
                Int32 playerIndex = 0; }
            @foreach (var player in Players)
            {

                <li>
                    <div class="py-3 d-flex flex-column align-items-center">
                        @if (String.IsNullOrEmpty(player.AvatarUrl) == false)
                        {
                            <PlayerAvatar Player="player" IsSelected="@(playerIndex == ActivePlayerIndex)" />
                        }

                        <span class="text-white"> @player.Name </span>
                        <span class="keyboard-key">@GameSession.HotKeys[playerIndex].ToUpper()</span>
                    </div>
                </li>
                playerIndex++;
            }
        </ul>
    }

</div>
@code {
    [Parameter]
    public PlayerViewModel Player { get; set; }

    [Parameter]
    public List<PlayerViewModel> Players { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Int32 ActivePlayerIndex { get; set; } = -1;
}