@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4 background-turquois">
            <a href="/">BlazQ</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
